<%= render 'shared/background' %>
<h1>Simple questions with easy answers</h1>
<h2>Any more questions please check out the contact form</h2>
<br></br>
<div class="row">
	<section class = "col-md-6">
		<ul>
			<li><%= link_to "How to sign up", "#" %></li>
			<li><%= link_to "How to make posts", "#" %></li>
			<li><%= link_to "How long does email verification take", "#" %></li>
		</ul>
	</section>
</div>


<br></br>