<% if logged_in? %>
	<div class ="row">
		<aside class = "col-md-8">
			<section class = "micropost_form">
				<%= render 'shared/micropost_form' %>
			</section>
			<h3>MicroPost Feed</h3>
			<%= render 'shared/feed' %>
		</aside>
		<aside class="col-md-4">

			<a href= "sessions/github" >
			<img src="http://www.naveydesign.com/communities/6/004/012/491/796//images/4606534628.jpg" width="400" height="400"><br></br>Welcome to a Delly Marked product! Hopefully soon this area will be filled with advertisements!</img>
			</a>

			<a href ="sessions/ads">
			<img src="http://www.presidiacreative.com/wp-content/uploads/2010/04/Kayaking.jpg" width="300" height="300"><br></br>KayaKing, feel afloat</img>
			</a>

			<a href ="sessions/ads">
			<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcShw1S1J9N0zoMlxnONNrT5-ug8m_21jWqqiULiBjemQ-r7IFWU"><br></br>EAT CHICKEN!!!! COWS MUST BE SAVED!!!</img>
			</a>

		</aside>
	</div>


<%else%>


	<%= render 'shared/background' %>

	<div class="InnerContainer">

		<div class = "image" >
			<div class="StreamsHero-image" style="background-image: url(https://abs.twimg.com/a/1430225370/img/t1/lohp_streams_header_bg_v3.png);">
				<img src="http://mountstudents.ca/wp-content/plugins/twitterpated/images/twitter-bird-dark-bgs.png"/>
  				<h1>See whats happening right now.</h1>
				<h2>Find community Conversation and inpriation about the things you love</h2>
			</div>
		</div>
	</div>


		<h2>
    			Ready to communicate?<br></br>

	  	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-warning" %>
  		</h2>


<% end %>
