<h1>TwitterClone Emailer</h1>

<p> Hi <%= @user.name %>,</p>

<p>

	Welcome to TwitterClone made by Travis Delly! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>