@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
	-moz-box-sizing:	border-box;
	-webkit-box-sizing:	border-box;
	box-sizing:			border-box;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.users {
	list-style: none;
	margin: 0;
	li{
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid #777
	}
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/*CSS sheet*/

/*forms*/

input, textarea, select, .uneditable-input{
	border: 1px, solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

aside {
	section.user_info{
		margin-top:20px;
	}
	section {
		padding:10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: 1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.avatar {
	float: left;
	margin-right:10px;
}
.avatar_edit {
	margin-top: 15px;
}

.stats {
	overflow: auto;
	margin-top: 0;
	padding: 0;
	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid #777;
		color: #777;
		&:first-child {
			padding-left: 0;
			border: 0;
		}
		&:hover {
			text-decoration: none;
			color: blue;
		}
	}
	strong {
		display: block;
	}
}

.user_avatars {
	overflow: auto;
	margin-top: 10px;
	.avatar {
		margin: 1px 1px;
	}
	a {
		padding: 0;
	}
}

.users.follow {
	padding: 0;
}

/*Microposts*/


.microposts {
	list-style: none;
	padding: 0;

	.imageView 
	{
		margin-top:5px;
		display: inline-block;
		height: 136px;
		width:120px;
 		float:left;
	}

	.nameView 
	{
		margin-top: 10px;
		display: inline-block;
		vertical-align: top;
		height: 40px;
		border-style:solid;
		border-width:1px;
		width:400px;
		float:right;
		font-family: helvetica, bold;
		font-size: 20px;
    	padding: 30px 30px 30px 30px;
	}

	.postView 
	{
		width:400px;
		height: 100px;
		text-align: center;
		border-style:solid;
		border-width:1px;
		float:right;
		clear:right;
		img {
			display: block;
			width: 70px;
			height: 70px;

		}
	}
	
	li {
		float:left;
		margin-right: 50px;
    	padding: 30px 30px 30px 0;
		border-top: 1px solid #e8e8e8;
		border-left: 1px solid #e8e8e8;;
		border-right: 1px solid #e8e8e8;;
	}
	.timestamp {
		color: #777;
		display: block;
		margin-left: 60px;
		margin-top: 10px;
		margin-bottom: 10px;

	}
}

aside{
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}
span.picture {
	margin-top: 10px;
	input {
		border: 0;
	}
}


/*footer styler*/

footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;

	a{
		color:#555;
		&:hover{
			color:#222
		}
	}
	
	small{
		float: left;
	}

	ul {
		float: right;
		list-style: none;

		li{
			float: left;
			margin-left:15px
		}
	}
}


/* for logo in top left corner */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: orange;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-tp: 9px;
	font-weight: bold;
	&:hover{

	color: pink;
	text-decoration: none;

	}
}

/* for typography */

h1,h2,h3,h4,h5,h6 {
	line-hieght: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #777
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}



/* for size and centering */

body {
	padding-top: 60px;
}
section {
	overflow: auto;
}

textarea {
	resize: vertical;
}
.center {
	text-align: center;
	h1{
		margin-bottom:10px;
	}
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}


#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(248, 248, 248, 1);
    border-width: 1.5px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}