// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.InnerContainer{
  h1{
    color: white;
    padding-top:76px;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
  }
  h2{
    font-size: 25px;
    font-weight: 200;
    opacity: .5;
    color: white;
    text-align: center;
  }
  img{
    background: transparent;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 50%;

  }
  width: 400px;
  height: 350px;
  left: 0%;
  top: 0%;
  margin-left: -200px;

}

.StreamsHero-image {
	height:310px;
	width: 1500px;
}
.StreamsHero-header {
  color: #fff;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  padding: 15px 0 20px 0;
  transition: font-size 300ms linear;
}
.StreamsHero-content {
  padding-top: 100px;
  position: relative;
  text-align: center;
  transition: padding 300ms linear;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
  color: #A4A4A4;
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}