<footer class = "footer">
	<small>
		The <a href= 'help' >Twitter Clone</a>
		by Travis Delly <a href="http://www.github.com/dellybro"> Github Page</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", "#"  %></li>
			<li><a href="http://news.railstutorial.org/">News</a></li>
		</ul>
	</nav>
</footer>